# System files
*.swp

# VSCode config
/.vscode

# Exercises executables
/ex1
/ex2
/ex3
/ex4
/ex5
/ex6
/ex7
/ex8
/ex9
/ex10



# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
